.home {
  display: grid;
  gap: 7rem;
  grid-template-columns: auto 1fr;
  height: calc(100vh - var(--header-height));
  place-content: center;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .home__image {
    border-radius: 50%;
    height: 25rem;
    justify-self: end;
    object-fit: cover;
    width: 25rem;

    @media (max-width: 480px) {
      width: 250px;
      height: 250px;
    }

    @media (max-width: 900px) {
      height: 350px;
      justify-self: center;
      order: -1;
      width: 350px;
    }
  }

  .home__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    @media (max-width: 900px) {
      align-items: center;
    }
  }

  .home__title {
    color: var(--text-color-secondary);
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    letter-spacing: -0.5px;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin: 0;
    font-size: 4rem;

    @media (max-width: 900px) {
      font-size: 2rem;
      text-align: center;
    }
  }

  .home__description {
    font-size: 1.125rem;
    font-weight: 500;
  }
}
