.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--background-color);

  .container {
    display: flex;
    justify-content: end;
    height: var(--header-height);

    @media (max-width: 480px) {
      justify-content: center;
    }

    .nav {
      display: flex;
      align-self: center;
    }
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .page-link {
    text-transform: capitalize;
    font-weight: 500;

    &:hover,
    &:focus {
      color: var(--light-gray);
      transition: color 0.2s ease;
    }

    &.active {
      color: var(--text-color-secondary);
      border-bottom: 2px solid var(--text-color-secondary);
    }
  }
}
