:root {
  font-family: "Inter", "Georgia", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.4;
  font-weight: 400;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 5rem;

  --green: #64ffda;
  --light-gray: #e2e8f0;
  --navy: #0a192f;
  --light-navy: #112240;
  --slate: #94a3b8;

  --text-color-primary: var(--slate);
  --text-color-secondary: var(--light-gray);
  --text-color-skill: var(--green);
  --text-color-title-hover: var(--green);

  --background-color: var(--navy);
  --background-color-experience-hover: rgba(17, 34, 64, 0.7);
  --background-color-skill: rgba(45, 212, 191, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}

body {
  background-color: var(--background-color);
  color: var(--text-color-primary);
  font-size: 1rem;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;

  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}

section {
  padding: 4rem 0;
}

.section-header {
  color: var(--light-gray);
  font-size: 2.5rem;
  text-align: center;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.link__text {
  color: var(--text-color-secondary);

  &:hover,
  &:focus {
    color: var(--text-color-title-hover);
  }
}

@mixin skill {
  background-color: var(--background-color-skill);
  border-radius: 1rem;
  color: var(--text-color-skill);
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
}
